# fly.toml app configuration file generated for playground2 on 2026-02-02T12:49:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'playground2'
primary_region = 'syd'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  NODE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
